.App {
  text-align: center;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body{

}

.flex-container{
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100vh;
}

.main-container{
  display: flex;
}

.calendar {
   background-color: red;
   flex: 1;
   /* height: 100px; */
  }

  .weather {
    background-color:  blue;
    flex: 1;
    /* height: 100px; */
  }
